{{#if success_msg}}
  <div role="alert" class="relative flex w-full px-4 py-4 text-base text-green-700 bg-green-200 rounded-lg font-regular"
    data-dismissible="alert">
    <div class="mr-12 ">{{{success_msg }}}</div>
    <button data-dismissible-target="alert"
      class="!absolute  top-3 right-3 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-green-500 transition-all hover:text-green-700 active:text-green-700 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button">
      <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6"
          stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </span>
    </button>
  </div>
{{/if}}


{{#if warning_msg}}
<div role="alert" class="relative flex w-full px-4 py-4 text-base bg-yellow-100 text-yellow-700 rounded-lg font-regular"
  data-dismissible="alert">
  <div class="mr-12 ">{{{ warning_msg }}}</div>
  <button data-dismissible-target="alert"
    class="!absolute  top-3 right-3 h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-yellow-500 transition-all hover:text-yellow-700 active:text-yellow-700 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
    type="button">
    <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </span>
  </button>
</div>

{{/if}}

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const closeButton = document.querySelector('[data-dismissible-target="alert"]');
      const alertContainer = document.querySelector('[role="alert"]');

      closeButton.addEventListener('click', function () {
        // Hide or remove the flash message container
        alertContainer.style.display = 'none';
      });
    });
</script>