<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <style type="text/tailwindcss">
    @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
  <title>Todo List</title>
</head>
<body class="">
  <header class="w-full h-11 px-4 bg-sky-200 flex justify-between items-center">
    <a href="/" class="font-bold text-xl">Todo List</a>
    <a href="/users/login" class=" px-2 py-1 border border-sky-400 rounded text-sky-400 hover:text-sky-600 hover:border-sky-600">Login</a>
  </header>
  <div class="px-8 py-4">
    {{{ body }}}
  </div>
</body>
</html>