<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <style type="text/tailwindcss">
    @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
  <title>Todo List</title>
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css" />
  <!-- Material Icons Link -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  
  <!-- Font Awesome Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
    crossorigin="anonymous" />
</head>
<body class="">
  <header class="w-full h-11 px-4 bg-sky-200 fixed top-0 left-0 flex justify-between items-center">
    <a href="/" class="font-bold text-xl">
      {{#if isAuthenticated}} {{user.name}}'s {{/if}}
      Todo List
    </a>
    {{#if isAuthenticated}}
      <a href="/users/logout"
        class=" px-2 py-1 border border-sky-400 rounded text-sky-400 hover:text-sky-600 hover:border-sky-600">Logout</a>
    {{else}}
      <a href="/users/login"
        class=" px-2 py-1 border border-sky-400 rounded text-sky-400 hover:text-sky-600 hover:border-sky-600">Login</a>
    {{/if}}
  </header>
  <div class="px-8 pt-20 pb-4">
    {{{ body }}}
  </div>
  <!-- from node_modules -->
  <script src="node_modules/@material-tailwind/html@latest/scripts/ripple.js"></script>
  
  <!-- from cdn -->
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>
  <!-- script -->
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>

</body>
</html>