<p>{{ todo.name }}</p>
<p>{{ todo.description }}</p>
<a href="./todos/{{todo._id}}/edit">edit</a>
<form action="./todos/{{ todo._id }}/delete" method="POST" class="inline">
  <button type="submit">delete</button>
</form>
<a href="/">back</a>